 *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: Arial, sans-serif;
    }

    body{
      background:#111;
      display:flex;
      justify-content:center;
      align-items:center;
      min-height:100vh;
      padding:20px;
    }

    .formulario{
      background:#1b1b1b;
      width:100%;
      max-width:450px;
      padding:30px;
      border-radius:20px;
      box-shadow:0 0 20px rgba(255, 187, 0, 0.4);
      border:2px solid #ffb700;
    }

    .formulario h2{
      color:#ffb700;
      text-align:center;
      margin-bottom:25px;
      font-size:32px;
    }

    .input-group{
      margin-bottom:18px;
    }

    .input-group label{
      color:white;
      display:block;
      margin-bottom:8px;
      font-size:15px;
    }

    .input-group input,
    .input-group textarea{
      width:100%;
      padding:14px;
      border:none;
      border-radius:10px;
      background:#2a2a2a;
      color:white;
      font-size:15px;
      outline:none;
    }

    .input-group textarea{
      resize:none;
      height:120px;
    }

    .btn{
      width:100%;
      padding:15px;
      background:#ffb700;
      border:none;
      border-radius:12px;
      color:black;
      font-size:18px;
      font-weight:bold;
      cursor:pointer;
      transition:0.3s;
    }

    .btn:hover{
      background:#ffd447;
      transform:scale(1.03);
    }